{% load static %}

{% comment %} Side Playlist {% endcomment %}
<div class="menu_side">
    <h1>Playlist</h1>
   
    <div class="menu_song">
        <li class="songItem">
            <span>01</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="1"></i>
        </li>
        <li class="songItem">
            <span>02</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="2"></i>
        </li>
        <li class="songItem">
            <span>03</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="3"></i>
        </li>
        <li class="songItem">
            <span>04</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="4"></i>
        </li>
        <li class="songItem">
            <span>05</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="5"></i>
        </li>
        <li class="songItem">
            <span>06</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="6"></i>
        </li>
        <li class="songItem">
            <span>07</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="7"></i>
        </li>
        <li class="songItem">
            <span>08</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="8"></i>
        </li>
        <li class="songItem">
            <span>09</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="9"></i>
        </li>
        <li class="songItem">
            <span>10</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="10"></i>
        </li>
        <li class="songItem">
            <span>11</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="11"></i>
        </li>
        <li class="songItem">
            <span>12</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="12"></i>
        </li>
        <li class="songItem">
            <span>13</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="13"></i>
        </li>
        <li class="songItem">
            <span>14</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="14"></i>
        </li>
        <li class="songItem">
            <span>15</span>
            <img src="#" alt="royal">
            <h5>
                <div class="subtitle"></div>
            </h5>
            <i class="bi playlistPlay bi-play-circle-fill" id="15"></i>
        </li>
    </div>
</div>
